/* all settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Website background */
body {
    min-height: 100vh;
    background: url(assets/bgg.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main container */
.cons {
    width: 100%;
    padding: 20px;
}

.Log_card {
    background: transparent;
    max-width: 450px;
    max-height: fit-content;
    margin: auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 5);
}

/* Header */
.Log_card h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
}

.tag {
    text-align: center;
    color: #432222;
    margin-bottom: 30px;
}

/* text field */
.inputs,
.input_1,
.input_2,
.pass {
    position: relative;
    margin-bottom: 20px;
}

/* Inputs */
.inputs input,
.input_1 input,
.input_2 input,
.dob input,
.username input,
.npass input,
.pass input {
    width: 100%;
    padding: 14px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

.npass input {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* labels trans */
.inputs label,
.input_1 label,
.input_2 label,
.pass label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    padding: 0 6px;
    color: #999;
    pointer-events: none;
    transition: 0.5s ease;
}


/* Floating label animation */
.inputs input:focus + label,
.inputs input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: #000000;
}

.pass input:focus + label,
.pass input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: #000000;
}


/* Options row */
.Gender,
.opts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.opts a {
    color: #ffffff;
    text-decoration: none;
}

.opts a:hover {
    text-decoration: underline;
}

/* Button */
button {
    width: 100%;
    padding: 14px;
    background: #071c7c;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #5a67d8;
}

/* Signup text */
.signup {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.signup a {
    color: #ffffff;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 480px) {
    .Log_card {
        padding: 30px 20px;
    }
}
